:root {
    --primary-color: #2A0533;
    --white-color: #ffffff;
    --light-gray-color: #eee;
    --dark-gray-color: #bbb;
    --secondary-color: crimson;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

table {
    min-width: 36rem;
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: .1rem solid var(--dark-gray-color);
    padding: .5rem;
}

table th {
    background-color: var(--light-gray-color);
}

table caption {
    caption-side: top;
    text-align: left;
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: .7rem;
}

tfoot td {
    font-style: italic;
}

footer {
    display: flex;
    min-height: 10rem;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 1.3rem;
}

.main-bg {
    background-image: url('../img/main-bg2.svg');
    background-size: cover;
    color: var(--white-color);
}

.white-bg {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
    min-height: 100vh;
}

.section {
    min-height: 100vh;
}

.menu {
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: .1rem solid var(--light-gray-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7.4rem;
}

.menu-spacing {
    height: 7rem;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color)
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding-left: 3rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: -.3rem;
    left: 27%;
    width: 0;
    height: .2rem;
    background-color: var(--secondary-color);
    transition: all 300ms ease-in-out; 
}

.menu ul li a:hover::after {
    width: 55%;
    left: 40%;
}

.intro-content {
    position: relative;
    top: -7rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img,
.intro-img svg {
    max-width: 100%;
    height: auto;
}

.top3-content {
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}

.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-main-heading {
    margin-bottom: 1.5rem
}

.grid-description {
    margin-bottom: 5rem
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 4rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.grid-one-content  {
    margin-top: 7.4rem;
}

.grid-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    margin-bottom: 7rem;
    height: 64rem;
    width: 100rem;
}

.work-heading {
    margin-bottom: 8rem;
}

.responsive-table {
    overflow-x: auto
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}
.form-group {
    flex: 1 1 32rem;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    border: none;
    background-color: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 1rem .2rem var(--secondary-color);
}

.full-width {
    width: 100%;
    flex: 1 1 100%;
}

.bottom-div {
    margin-top: 5rem;
}

div.bottom-img {
    margin-top: 25rem;
}

.form-group button {
    border: .5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: var(--white-color);
    color: var(--primary-color);
}

.form-group ::placeholder {
    color: var(--dark-gray-color);
}

.form-grid legend {
    padding-top: 3rem;
    margin-bottom: 2rem;
    font-style: italic;
}

.close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(270deg);
    border: .01rem solid var(--primary-color);
    height: 4rem;
    width: 4rem
}

@media (max-width: 800px) {
    .intro-content, .grid {
        grid-template-columns: 1fr;
    }

    .intro-text-content {
        margin-top: 5rem;
    }

    .grid-img {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--gap);
        margin-bottom: 7rem;
        height: 240rem;
        width: 240rem;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    nav {
        margin-right: 3rem;
    }

    nav ul li {
        margin-top: 5rem;
    }

    .menu {
        display: none;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background-color: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: .5rem;
        cursor: pointer
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        display: block;
        content: '×';
    }

    .menu-spacing {
        display: none;
    }

    .intro-img {
        display: flex;
    }

    .bottom-div {
        display: block;
    }

    div.bottom-img {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
}

@media (min-width: 800px) and (max-width: 1040px) {
    .intro-text-content h2 {
        margin-top: 15rem;
    }

    .grid-img {
        grid-template-columns: 50% 50%;
    }

    .gallery-img {
        height: 40rem;
    }

    #gallery {
        height: 150vh;
    }
}
